# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
dist.zip
.DS_Store
dist
/node_modules/*
.nyc_output/
npm-debug.log
yarn-error.log
.nyc_output

